/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Global Styles */
body { background: #f6f6f6; }

#nav { background: #141414; border-bottom: 2px solid #242424; border-top: 1px solid #464646; box-shadow: 0 4px 8px 0 #c8c8c8; height: 35px; left: 50%; margin-left: -480px; position: fixed; top: 0; width: 960px; z-index: 10; background: -moz-linear-gradient(top,#2c2c2c 0,#121212 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c2c2c),color-stop(100%,#121212)); background: -webkit-linear-gradient(top,#2c2c2c 0,#121212 100%); background: -o-linear-gradient(top,#2c2c2c 0,#121212 100%); background: -ms-linear-gradient(top,#2c2c2c 0,#121212 100%); background: linear-gradient(top,#2c2c2c 0,#121212 100%); -moz-box-shadow: 0 4px 8px 0 #c8c8c8; -webkit-box-shadow: 0 4px 8px 0 #c8c8c8; }
#nav > div { height: 35px; }
#nav #ribbon-left { background: url('/img/bkg.nav.sprite.png') 0 0 no-repeat; bottom: -15px; height: 14px; left: 0; position: absolute;  width: 29px; z-index: 0; }
#nav #ribbon-right { background: url('/img/bkg.nav.sprite.png') -29px 0 no-repeat; bottom: -15px; height: 14px; position: absolute; right: 0; width: 29px; z-index: 0; }
#nav h1 { color: #45b4ff; float: left; font: bold 17px Verdana; height: 35px; line-height: 33px; padding: 0 28px; text-shadow: 0 2px 2px #000; text-transform: uppercase; }
#nav h1 a { color: #45b4ff; text-decoration: none; }
#nav ul { border-right: 1px solid #464646; border-left: 1px solid #464646; float: left; }
#nav ul li { background: #141414; border-left: 1px solid #242424; border-right: 1px solid #242424; box-sizing: border-box; float: left; height: 35px; margin-right: -1px; position: relative; z-index: 10; background: -moz-linear-gradient(top,#2c2c2c 0,#121212 100%); background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2c2c2c),color-stop(100%,#121212)); background: -webkit-linear-gradient(top,#2c2c2c 0,#121212 100%); background: -o-linear-gradient(top,#2c2c2c 0,#121212 100%); background: -ms-linear-gradient(top,#2c2c2c 0,#121212 100%); background: linear-gradient(top,#2c2c2c 0,#121212 100%); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#nav ul li:last-child { margin: 0; }
#nav ul li a { border-left: 1px solid #464646; border-right: 1px solid #464646;  border-top: 2px solid #00a2ff; color: #fff; display: block; font: bold 12px  Verdana; line-height: 13px; padding: 10px 20px; text-decoration: none; text-shadow: 0 1px 1px #000; transition: background-color .4s ease-out,border-top-color .4s ease-out; -webkit-transition: background-color .4s ease-out,border-top-color .4s ease-out; -moz-transition: background-color .4s ease-out,border-top-color .4s ease-out; -ms-transition: background-color .4s ease-out,border-top-color .4s ease-out; -o-transition: background-color .4s ease-out,border-top-color .4s ease-out; }
#nav ul li.active { background: #333; }
#nav ul li.sessions a { border-top: 2px solid #00a2ff; }
#nav ul li.tournaments a { border-top: 2px solid #9adb31; }
#nav ul li.achievements a { border-top: 2px solid #eb1e00; }
#nav ul li a:hover { background: #333; }
#nav #profile { background: url('/img/bkg.nav.sprite.png') -58px 6px no-repeat; display: inline-block; float: right; height: 35px; margin-right: 29px; position: relative; transition: background-color .4s ease-out; width: 35px; -moz-transition: background-color .4s ease-out; -ms-transition: background-color .4s ease-out; -o-transition: background-color .4s ease-out; -webkit-transition: background-color .4s ease-out; }
#nav #profile:hover { background-color: #333; }
#nav #profile > div { background: #333; box-shadow: 0 5px 8px 0 #c8c8c8; height: 0; opacity: 0; position: absolute; right: 0; top: 35px; transition: opacity .4s ease-out; width: 0; z-index: 11; -moz-box-shadow: 0 5px 8px 0 #c8c8c8; -webkit-box-shadow: 0 5px 8px 0 #c8c8c8; -moz-transition: opacity .4s ease-out; -ms-transition: opacity .4s ease-out; -o-transition: opacity .4s ease-out; -webkit-transition: opacity .4s ease-out; }
#nav #profile:hover > div { height: 160px; opacity: 1; width: 180px; }
#nav #profile > div form,
#nav #profile > div h3,
#nav #profile > div p { display: none; }
#nav #profile:hover > div form,
#nav #profile:hover > div h3,
#nav #profile:hover > div p { display: block; }
#nav #profile > div form { padding: 16px;}
#nav #profile > div form p { margin-bottom: 8px;}
#nav #profile > div form label { color: #fff; font: 12px Verdana; }
#nav #profile > div form input { color: #666; font: 12px Verdana; padding: 2px; }
#nav #profile > div form #login-submit { background: #f2f2f2; border: 1px solid #e1e1e1; color: #333; font-weight: bold; padding: 3px 10px; }
#nav #profile > div h3 { color: #00a2ff; font: bold 12px Verdana; margin: 16px 0 10px 16px; }
#nav #profile > div > p { font: 12px Verdana; margin: 0 0 3px 16px; }
#nav #profile > div > p a { color: #fff; text-decoration: none; }

#content { background: #fff; border: 1px solid #d8d8d8; box-shadow: 0 4px 8px 0 #c8c8c8; margin: 34px auto 5px; position: relative; width: 900px; z-index: 1; -moz-box-shadow: 0 4px 8px 0 #c8c8c8; -webkit-box-shadow: 0 4px 8px 0 #c8c8c8; }
#content > p { background: #45b4ff; color: #fff; font: bold 10px Verdana; padding: 15px; text-align: center; }
#content > p > a { color: #fff; }
#content #section .module >  h2 { background: #f2f2f2; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; box-sizing: border-box; color: #666; font: bold 12px Verdana; height: 35px; padding: 10px 0 0 20px; text-shadow: 0 1px 0 #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#content #section .module > div { min-height: 200px; padding: 15px 20px; }
#content #section .loading { background: url('/img/bkg.loading.gif') center no-repeat;  min-height: 500px; }

#content #section .activity { position: relative; }
#content #section .activity #session-add { background: #fff; border: 1px solid  #e1e1e1; color: #666; font-family: verdana; line-height: 15px; padding: 0 3px; position: absolute; right: 20px; text-decoration: none; top: 10px; }
#content #section .activity #session-add:hover { background: #666; color: #fff; }
#content #section .activity ul { overflow: auto; padding: 11px; }
#content #section .activity ul li { border: 1px solid #e1e1e1; box-shadow: 0 1px 8px 0 #c8c8c8; float: left; height: 180px; margin: 0 23px 20px 0; opacity: 0; padding: 5px; position: relative; width: 180px; -moz-box-shadow: 0 1px 8px 0 #c8c8c8; -webkit-box-shadow: 0 1px 8px 0 #c8c8c8; }
#content #section .activity ul li div { background: #f2f2f2 url('/img/bkg.activity.sprite.png') 51px 34px no-repeat; height: 100%; width: 100%; }
#content #section .activity ul li.session > div { background-position: 54px 35px; }
#content #section .activity ul li.tournament > div { background-position: 55px -113px; }
#content #section .activity ul li.achievement > div { background-position: 67px -244px; }
#content #section .activity ul li:nth-child(4n){ margin-right: 0; }
#content #section .activity ul li h3 { background: #00a2ff; color: #fff; font: bold 10px Verdana; left: 5px; padding: 5px; position: absolute; top: 5px; }
#content #section .activity ul li a { display: block; height: 100%; width: 100%; }
#content #section .activity ul li.session h3 { background: #00a2ff; }
#content #section .activity ul li.tournament h3 { background: #9adb31; }
#content #section .activity ul li.achievement h3 { background: #eb1e00; }
#content #section .activity ul li p { background: #000;  bottom: 5px; color: #fff; font: 10px Verdana; height: 48px; left: 5px; opacity: 0.8; overflow: hidden; padding: 5px; position: absolute; width: 170px; }
#content #section .activity ul li p .title { font-weight: bold; }
#content #section .activity ul li p .date { font-size: 9px; font-style: italic; }
#content #section .activity ul li h3 a,
#content #section .activity ul li p a { color: #fff; text-decoration: none; }

#content #section .chart > div { margin: 0 auto; position: relative; height: 280px; width: 800px; }

#content #section .stats ul { overflow: auto; padding: 15px 20px; }
#content #section .stats ul li { color: #666; float: left; font: 12px Verdana; margin-right: 20px; }
#content #section .stats ul li span { color: #00a2ff; }

#footer { background: #333; border-top: solid 1px #242424; position: relative; }
#footer ul { border-top: solid 1px #464646; height: 28px; width: 100%;}
#footer ul li { float: left; padding: 4px 0 0 20px; }
#footer ul li a { color: #fff; cursor: pointer; font: bold 10px  Verdana; text-decoration: none; }
#footer > p { color: #fff; display: inline-block; font: 8px Verdana; position: absolute; right: 20px; top: 9px; width: 196px; }

/* Overlay Styles */
.content-overlay #nav { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.content-overlay #nav #ribbon-left { background-position: 0 -14px; }
.content-overlay #nav #ribbon-right { background-position: -29px -14px; }
.content-overlay .activity-overlay { display: block; }
.activity-overlay { background: #000; height: 100%; left: 0; position: fixed; opacity: 0.5; top: 0; width: 100%; z-index: 2; }
.modal-overlay { background: #000; height: 100%; left: 0; position: fixed; opacity: 0.5; top: 0; width: 100%; z-index: 11; }

/* Modal Styles */
.modal { background: #fff; border: 2px solid #e1e1e1; box-shadow: 0 1px 8px 0 #c8c8c8; min-height: 150px; left: 50%; margin-left: -202px; position: fixed; top: 100px; width: 400px; z-index: 10; -moz-box-shadow: 0 1px 8px 0 #c8c8c8; -webkit-box-shadow: 0 1px 8px 0 #c8c8c8; z-index: 12; }
.modal h2 { background: #f2f2f2; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; color: #666; font: bold 12px Verdana; height: 23px; padding: 10px 0 0 10px; text-shadow: 0 1px 0 #fff; }
.modal h3,
.modal p { color: #666; font: 12px Verdana; line-height: 19px; }
.modal h3 { font-weight: bold; padding: 10px 10px 5px; }
.modal p { margin-bottom: 10px; padding: 0 10px; }
.modal p span { font-style: italic; font-weight: bold; }
.modal a { background: #f2f2f2; border: 1px solid #e1e1e1; color: #666; cursor: pointer; display: block; font: 12px Verdana; height: 20px; line-height: 18px; margin: 20px auto; padding: 3px 27px; text-decoration: none; width: 20px; }
.modal a:hover { background: #eee; }
.modal .close { background: #fff; font-weight: bold; height: 8px; line-height: 8px; margin: 0; padding: 5px; position: absolute; right: 7px; top: 7px; width: 9px; }
.modal .close:hover { background: #666; color: #fff; }
.modal .message { margin-top: 10px; }
.modal label { float: left; margin-right: 5px; text-align: right; width: 73px; }

#modal-photo { background: #fff; border: 1px solid #e1e1e1; box-shadow: 0 1px 8px 0 #c8c8c8; height: 500px; left: 50%; margin-left: -250px; overflow: hidden; padding: 20px; position: absolute; top: 100px; width: 500px; z-index: 3; -moz-box-shadow: 0 1px 8px 0 #c8c8c8; -webkit-box-shadow: 0 1px 8px 0 #c8c8c8; z-index: 12; }
#modal-photo img { height: 500px; width: 500px; }
#modal-about { margin-left: -302px; width: 600px; }
#modal-contact { margin-left: -302px; width: 600px; }
#modal-profile { margin-left: -130px; width: 256px; }
#modal-profile p {line-height: 22px; }
#modal-profile input,
#modal-profile select { color: #666; border: solid 1px #e1e1e1; font: 12px Verdana; padding: 1px; width: 152px; }
#modal-profile #profile-submit { background: #f2f2f2; border: 1px solid #e1e1e1; color: #666; cursor: pointer; font: 12px Verdana; line-height: 19px; margin-left: 79px; width: 110px; }
#modal-profile #profile-submit:hover { background: #eee; }
#modal-profile h2 { margin-bottom: 10px; }

/* Activity Styles */
#activity { background: #f2f2f2; border-bottom: 2px solid #e1e1e1; border-right: 2px solid #e1e1e1; box-shadow: 3px 1px 10px 0 #c8c8c8; left: 0; opacity: 0; position: absolute; top: -5px; z-index: 2; -moz-box-shadow: 3px 1px 10px 0 #c8c8c8; -webkit-box-shadow: 3px 1px 10px 0 #c8c8c8; }
#activity > div { background: #fff; border-left: 1px solid #e1e1e1; margin-left: 30px; overflow: auto; padding: 30px; }
#activity .detail { float: left; width: 385px; }
#activity .detail h2 { color: #666; font: bold 18px Verdana; margin-bottom: 5px; }
#activity .detail .context { color: #666; font: 12px Verdana; margin-bottom: 15px; }
#activity .detail .context span { color: #999; }
#activity .detail table { border: 1px solid #e1e1e1; color: #666; font: 12px Verdana; line-height: 17px; margin-bottom: 15px; width: 100%; }
#activity .detail table tr { background: #f2f2f2; display: block; padding: 5px 10px; }
#activity .detail table tr:first-child { background: #464646; color: #fff; }
#activity .detail table tr:nth-child(2n) { background: #fff; }
#activity .detail table th,
#activity .detail table td { text-align: left; }
#activity .detail table th { font-weight: bold; }
#activity .detail table .player-name { min-width: 150px; }
#activity .detail table .player-team { min-width: 80px; }
#activity .detail table .player-score { min-width: 80px; text-align: center; }
#activity .detail table .player-outcome { min-width: 55px; text-align: center; }
#activity .detail p { color: #666; font: 12px Verdana; line-height: 19px; margin-bottom: 15px; }
#activity .gallery { border: 1px solid #e1e1e1; float: left; margin: 56px 0 0 25px; overflow: hidden; width: 120px; }
#activity .gallery li { height: 110px; padding: 5px 5px 0 5px; width: 110px; }
#activity .gallery li:last-child { padding-bottom: 5px; }
#activity .gallery li img { height: 110px; width: 110px; }
#activity .close { background: #f2f2f2; border: 1px solid #e1e1e1; color: #464646; cursor: pointer; font: bold 12px Verdana; height: 8px; line-height: 8px; margin: 0; padding: 5px; position: absolute; right: 6px; top: 14px; width: 9px; }
#activity .close:hover { background: #464646; color: #f2f2f2; }