<div class="modal-overlay"></div>
<div class="modal" id="modal-about">
    <h2>About</h2>
    <h3>What is the BGST?</h3>
    <p>BGST is an acronym that stands for "Board Game Session Tracker". In short, the BSGT is a cloud-based web application that allows you to maintain your detailed board gaming history from any network accessible device.</p>
    <h3>What can the BGST do for me?</h3>
    <p>The BGST allows you to keep a record of your played board sessions from your mobile or tablet device at a Con or from your desktop computer at home. More over, the BGST also provides your gaming statistics and occasionally awards you with achievements tailored to your habits. In the future, the BGST will also incorporate a tournament system that will allow Con directors to more easily administer and syndicate gaming tournaments.</p>
    <h3>What platforms does the BGST support?</h3>
    <p>At present, the BGST is supported on all current JavaScript enabled web browsers and iOS / Android / BlackBerry devices.</p>
    <h3>Who built and maintains the BGST?</h3>
    <p>The BGST was devised, developed, and continues to be maintained by a single developer by the name of Nicholas Cassidy. As an avid board gamer, Nick hails from the Boulder, Colorado area where he lives with his fiancé. When not playing board games or hiking the trails of Colorado, Nick works as a full-time web developer on projects for clients such as: American Express, Applebee's, Best Buy, Domino's Pizza, and Microsoft, to name a few.</p>
    <a class="close" title="Close">X</a>
</div>