<div class="modal-overlay"></div>
<div class="modal" id="modal-contact">
    <h2>Contact</h2>
    <h3>General Questions</h3>
    <p>If you have questions concerning how the site operates, how you can contribute to the BGST's success, or just want to send your thanks, fee free to make contact at <span>info@bgstracker.com</span></p>
    <h3>Bug Submissions</h3>
    <p>If you encounter what you suspect is a bug, please let us know via email at <span>bugs@bgstracker.com</span>. To insure that the issue is resolved, provide is with a URL of where the issue was encountered, as well as steps that can be taken to reproduce the issue.</p>
    <a class="close" title="Close">X</a>
</div>