<div class="modal-overlay"></div>
<div class="modal" id="modal-contact">
    <h2>Contact</h2>
    <h3>General Questions</h3>
    <p>If you have questions concerning how the site operates, how you can contribute to BGST's success, or just want to send us your thanks, fee free to contact us at <span>info@bgstracker.com</span></p>
    <h3>Bug Submissions</h3>
    <p>If you encounter what you suspect to be a bug, we encourage you to let us know. Please email us at <span>bugs@bgstracker.com</span> and provide us with where the issue was encountered, as well as steps that we can take to reproduce the issue.</p>
    <a class="close" title="Close">X</a>
</div>