<div class="activity-overlay"></div>
<div id="activity">
    <div>
        <div class="detail">
            <h2><%= session_title %></h2>
            <p class="context"><%= date %> <span>| <%= game_title %></span></p>
            <table>
                <tr>
                    <th class="player-name">Player</th>
                    <th class="player-team">Team</th>
                    <th class="player-score">Score</th>
                    <th class="player-outcome">Winner?</th>
                </tr>
                <% _.each(users, function(user){ %>
                <tr>
                    <td class="player-name"><%= user.first_name %> <%= user.last_name %></td>
                    <td class="player-team">Team 1</td>
                    <td class="player-score"><%= user.score %></td>
                    <td class="player-outcome"><%= user.win_status %></td>
                </tr>
                <% }); %>
                <% _.each(players, function(player){ %>
                <tr>
                    <td class="player-name"><%= player.name %></td>
                    <td class="player-team">Team 1</td>
                    <td class="player-score"><%= player.score %></td>
                    <td class="player-outcome"><%= player.win_status %></td>
                </tr>
                <% }); %>
            </table>
            <p><%= summary %></p>
        </div>
        <ul class="gallery">
            <li><img src="http://placehold.it/110x110" /></li>
            <li><img src="http://placehold.it/110x110" /></li>
            <li><img src="http://placehold.it/110x110" /></li>
        </ul>
        <a class="close">X</a>
    </div>
</div>