<div class="activity-overlay"></div>
<div id="activity">
    <div>
        <div class="detail">
            <h2><%= session_title %></h2>
            <p class="context"><%= date %> <span>| <%= game_title %></span></p>
            <table>
                <tr>
                    <th class="player-name">Player</th>
                    <th class="player-team">Team</th>
                    <th class="player-score">Score</th>
                    <th class="player-outcome">Winner?</th>
                </tr>
                <tr>
                    <td class="player-name">Nicholas Cassidy</td>
                    <td class="player-team">Team 1</td>
                    <td class="player-score">34</td>
                    <td class="player-outcome">Yes</td>
                </tr>
                <tr>
                    <td class="player-name">Player 1 Name</td>
                    <td class="player-team">Team 1</td>
                    <td class="player-score">34</td>
                    <td class="player-outcome">Yes</td>
                </tr>
                <tr>
                    <td class="player-name">Player 1 Name</td>
                    <td class="player-team">Team 1</td>
                    <td class="player-score">34</td>
                    <td class="player-outcome">Yes</td>
                </tr>
                <tr>
                    <td class="player-name">Player 1 Name</td>
                    <td class="player-team">Team 1</td>
                    <td class="player-score">34</td>
                    <td class="player-outcome">Yes</td>
                </tr>
            </table>
            <p><%= summary %></p>
        </div>
        <ul class="gallery">
            <li><img src="http://placehold.it/110x110" /></li>
            <li><img src="http://placehold.it/110x110" /></li>
            <li><img src="http://placehold.it/110x110" /></li>
        </ul>
        <a class="close">X</a>
    </div>
</div>