<div class="module activity">
    <h2 id="activity-title">Your Sessions</h2>
    <a id="session-add" href="/#sessions/add" title="Add a Session">+</a>
    <div>
        <ul class="activity-items">
            <% _.each(sessions, function(session){ %>
            <li class="session">
                <div>
                    <h3><a href="#sessions/<%= session.id %>" title="<%= session.title %>">Session</a></h3>
                    <a href="#sessions/<%= session.id %>" title="<%= session.title %>"></a>
                    <p><a href="#sessions/<%= session.id %>" title="<%= session.title %>"><span class="title"><%= session.title %></span><br/><span class="date"><%= session.date %></span> | <%= sessions.textTruncate(session.game_title, 15) %><br/><%= sessions.textTruncate(session.summary, 40) %></a></p>
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<div class="module chart">
    <h2>Your Most Played Games</h2>
    <div id="chart"></div>
</div>