<div class="modal-overlay"></div>
<div class="modal" id="modal-session">
    <h2>Create Session</h2>
    <p>
        <label for="session-title">Session Title: </label>
        <input type="text" id="session-title" />
    </p>
    <p>
        <label for="session-date">Date: </label>
        <input type="text" id="session-date" />
    </p>
    <p>
        <label for="session-game">Game: </label>
        <input type="text" id="session-game" />
        <ul id="game-list"></ul>
    </p>
    <ul id="game-title-list"></ul>
    <p class="session-summary">
        <label for="session-summary">Summary: </label>
        <textarea id="session-summary"></textarea>
    </p>
    <table>
        <tr>
            <th class="player-name">Player</th>
            <th class="player-team">Team</th>
            <th class="player-score">Score</th>
            <th class="player-outcome">Winner?</th>
        </tr>
        <tr class="player" data-user-id="<%= user.id %>">
            <td class="player-name">
                <input class="session-player-name" type="text" value="<%= user.first_name + ' ' + user.last_name %>" />
            </td>
            <td class="player-team">
                <select class="session-player-team">
                    <option value="NONE">Select</option>
                    <option value="1">Team 1</option>
                    <option value="2">Team 2</option>
                    <option value="3">Team 3</option>
                    <option value="4">Team 4</option>
                    <option value="5">Team 5</option>
                    <option value="6">Team 6</option>
                    <option value="7">Team 7</option>
                    <option value="8">Team 8</option>
                    <option value="9">Team 9</option>
                    <option value="10">Team 10</option>
                </select>
            </td>
            <td class="player-score">
                <input class="session-player-score" type="text" />
            </td>
            <td class="player-outcome">
                <input class="session-player-outcome" type="checkbox" />
            </td>
            <td class="player-edit"><a class="remove-player" title="Remove">-</a></td>
        </tr>
        <tr id="player-template" class="player">
            <td class="player-name">
                <input class="session-player-name" type="text" />
                <ul id="player-list"></ul>
            </td>
            <td class="player-team">
                <select class="session-player-team">
                    <option value="NONE">Select</option>
                    <option value="1">Team 1</option>
                    <option value="2">Team 2</option>
                    <option value="3">Team 3</option>
                    <option value="4">Team 4</option>
                    <option value="5">Team 5</option>
                    <option value="6">Team 6</option>
                    <option value="7">Team 7</option>
                    <option value="8">Team 8</option>
                    <option value="9">Team 9</option>
                    <option value="10">Team 10</option>
                </select>
            </td>
            <td class="player-score">
                <input class="session-player-score" type="text" />
            </td>
            <td class="player-outcome">
                <input class="session-player-outcome" type="checkbox" />
            </td>
            <td class="player-edit"><a class="add-player" title="Add">+</a></td>
        </tr>
    </table>
    <p>
        <input type="submit" id="session-submit" value="Create Session" />
    </p>
    <a class="close" title="Close">X</a>
</div>